body{
    background-color: rgb(114, 27, 27);
}

.btn{
    margin-left: 40vw;
    margin-top: 20px;
    padding: 15px;
    width: 150px;
    font-size: 15px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 50px 2px red;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.87);
    color: rgb(248, 246, 246);
}

.btn:hover{
    box-shadow: 0px 0px 50px 5px rgb(73, 157, 196);
    background-color: rgba(255, 0, 195, 0.87);
    color: rgb(172, 36, 36);
       
}

.box{
width: 500px;
margin: 30px auto;
font-size: 1.2em;
color: burlywood;
}

a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}
.btn1{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}
.btn2{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 0;
cursor: pointer;
    position: absolute;
    right: 20px;
    top:100px
}